body,
html {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    font-weight: bold;
}

.wrapper {
    height: 100%;
    min-height: 30em;
}

.center {
    display: flex;
    justify-content: center;
}

hr {
    opacity: 1;
    border-top: 2px solid #000;
}
