@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body,
html {
    font-family: "Roboto", sans-serif;
    /*color: #fff;*/
    background-color: #f6a8a8;
}

.wrapper {
    height: 100%;
    min-height: 30em;
}

.center {
    display: flex;
    justify-content: center;
}

.btn-primary {
    border: none;
    --bs-btn-bg: #000;
    --bs-btn-hover-bg: #888;
    --bs-btn-active-bg: #555;
}
